motor==2.5.1
fastapi==0.75.1
hypercorn==0.13.2
dnspython==2.2.1
email-validator==1.1.3
pylint==2.13.4
pytest==7.1.1
coverage==6.3.2
pytest-cov==3.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
requests==2.27.1
urllib3==1.26.9
pylint==2.13.4
MarkupSafe==2.1.1
httptools==0.2.0
itsdangerous==2.1.2
orjson==3.8.1
python-multipart==0.0.5
six==1.16.0
ujson==4.3.0
uvicorn==0.15.0
